*
{
	margin: 0px;
	padding: 0px;
}

.cleaner
{
	clear: both;
}

body
{
	font-family: 'Montserrat', sans-serif;
	font-size: .8125em;
	background-color: #37404d;
	color: rgba(245, 245, 245, 0.5);
}

.wrapper
{
	width: 1200px;
	margin: 0px auto;
}

a
{
	text-decoration: none;
	color: #000;
	z-index: 4;
	white-space: nowrap;
}

/*********** Header ***********/

#header
{
	width: 100%;
	background-color: #2a333e;
	position: fixed;
	top: 0px;
	left: 0px;
}

.header
{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

#logo
{
	width: 60px;
	height: 60px;
	border-radius: 15px;
	background-color: rgba(69, 79, 90, 0.3);
}

#logo span
{
	display: block;
	font-size: 60px;
	text-align: center;
	margin: 0px auto;
	color: rgba(0, 180, 255, 0.75);
}

#menu
{
	margin-left: 10px;
}

#menu ul
{
	width: 600px;
	height: 60px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
	list-style-type: none;
}

#menu li
{
	flex-basis: 100px;
	display: flex;
	position: relative;
	z-index: 1;
	transition: color 0.4s, border-bottom-color 0.3s;
}

#menu a
{
	flex-basis: 100%;
	align-self: stretch;
	line-height: 60px;
	text-align: center;
	text-shadow: 2px 2px 4px #222;
	color: rgba(245, 245, 245, 0.5);
	transition: color 0.2s, font-size 0.2s, font-weight 0.2s;
}

.underline
{
	position: absolute;
	width: 10%;
	height: 57px;
	left: 0; 
	right: 0; 
	z-index: 3;
	margin-left: auto; 
	margin-right: auto; 
	transition: width 0.3s, border-bottom-color 0.15s;
	border-bottom: 3px hidden rgba(0, 191, 255, 0.3);
}

.gradient
{
	position: absolute;
	width: 10%;
	height: 12px;
	left: 0; 
	right: 0;
	z-index: 2;
	border-radius: 100% 100% 0px 0px;
	transition: width 0.3s;
	margin-top: 48px;
	margin-left: auto; 
	margin-right: auto; 
}

#menu li:hover .underline
{
	border-bottom: 3px solid rgba(0, 191, 255, 1);
	width: 100%;
}

#menu li:hover .gradient
{
	background: rgba(69, 79, 90, 0.3);
	width: 100%;
}

#menu li:hover a
{
	color: rgba(245, 245, 245, 0.9);
	font-size: 15px;
	font-weight: bold;
}

#login
{
	display: flex;
	position: relative;
	margin-left: auto;
	flex-basis: 160px;
}

#login a
{
	flex-basis: 100%;
	align-self: stretch;
	text-align: center;
	line-height: 60px;
	font-size: 13px;
	color: rgba(245, 245, 245, 0.5);
	font-weight: bold;
	text-shadow: 2px 2px 4px #222;
	transition: color 0.2s, font-size 0.2s, font-weight 0.2s;
}

#login a:hover
{
	color: rgba(245, 245, 245, 0.9);
	font-size: 15px;
	font-weight: bold;
}

#login:hover .underline
{
	border-bottom: 3px solid rgba(0, 191, 255, 1);
	width: 100%;
}

#login:hover .gradient
{
	background: rgba(69, 79, 90, 0.3);
	width: 100%;
}

#search
{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	border-radius: 3px;
	transition: background-color 0.3s;
	position: relative;
}

#search .fa
{
	width: 32px;
	height: 32px;
	font-size: 32px;
	color: rgba(245, 245, 245, 0.5);
	text-align: center;
	margin: 14px 14px 14px 14px;
	transition: color 0.3s;
}

#search a
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0px;
	left: 0px;
}

#search form
{
	display: none;
	opacity: 0.0;
	transition: opacity 0.3s;
	width: 100%;
	height: 100%
}

#search input
{
	font-family: 'Montserrat', sans-serif;
	background-color: #e0e0e0;
	font-size: 20px;
	border: 2px;
	border-radius: 3px;
	margin: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

#search input:focus
{
	outline: none;
}

#search-bar
{
	width: 0px;
	height: 60px;
	position: absolute;
	top: 0px;
	right: 60px;
	background: #e0e0e0;
	transition: width 0.3s ease-in;
	z-index: 5;
}

#search #second-search
{
	display: none;
}

#search:hover
{
	background-color: rgba(0, 180, 255, 0.75);
}

#search:hover .fa
{
	color: rgba(245, 245, 245, 1);
}

#search:target #search-bar
{
	width: 240px;
	border-radius: 3px 0px 0px 3px;
}

#search:target form
{
	display: block;
	opacity: 1.0;
}

#search:target #second-search
{
	display: block;
}

#search:target #first-search
{
	display: none;
}

#search:target
{
	border-radius: 0px 3px 3px 0px;
	background-color: rgba(0, 180, 255, 0.75);
}

#reset-search:target ~ #second-search
{
	display: none;
}

#reset-search:target ~ #first-search
{
	display: block;
}

#reset-search:target ~ #search-bar
{
	width: 0px;
}

/*********** Main ***********/

#main
{
	width: 100%;
	margin-top: 60px;
	height: 1440px;
	/*background-color: #37404d;*/
}

#main .wrapper
{
	height: 100%;
	background-color: #14191e;
}

#content
{
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	margin: 15px;
	display: inline-block;
}

/*********** Footer ***********/

#footer
{
	background-color: #2a333e;
	width: 100%;
	height: 360px;
}

#footer .wrapper
{
	width: 1160px;
	padding: 20px 20px;
	height: 320px;
}

#footer h1
{
	display: inline;
	color: rgba(0, 180, 255, 0.75);
}

#footer h2
{
	color: rgba(0, 180, 255, 0.75);
}

#footer span 
{
    font-size: 60px;
    color: rgba(0, 180, 255, 0.75);
}

#footer-left
{
	margin-top: 20px;
	width: 290px;
	height: 200px;
	float: left;
}

#footer-right
{
	margin-top: 20px;
	width: 870px;
	height: 200px;
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#footer-right span
{
	display: block;
	color: rgba(245, 245, 245, 0.5);
	font-size: 16px;
	font-weight: 600;
}

#footer-right-first
{
	margin-left: 40px;
	width: 250px;
	height: 200px;
}

#footer-right-second
{
	width: 240px;
	height: 200px;
}

#footer-left-upper
{
	width: 290px;
	height: 120px;
}

.footer-menu
{
	list-style-type: none;
	margin-left: 10px;
	margin-top: 5px;
}

.footer-menu a
{
	color: rgba(245, 245, 245, 0.5);
	font-size: 16px;
	font-weight: 600;
	transition: font-size 0.1s ease-out, color 0.1s ease-out;
}

.footer-menu a:hover
{
	color: rgba(0, 180, 255, 0.75);
	font-size: 19px;
}

#footer-left-lower
{
	width: 290px;
	height: 80px;
}

#footer-left-lower span
{
	font-size: 48px;
	color: rgba(245, 245, 245, 0.5);
	transition: transform 0.3s ease-out, color 0.3s;
}

#footer-left-lower span:hover
{
	cursor: pointer;
	transform: scale(1.2) rotate(8deg);
}

#footer-left-lower span:hover:nth-child(odd)
{
	cursor: pointer;
	transform: scale(1.2) rotate(-8deg);
}

#footer-left-lower span[class*="facebook"]:hover
{
	color: #3b5998;
}

#footer-left-lower span[class*="twitter"]:hover
{
	color: #1da1f2;
}

#footer-left-lower span[class*="youtube"]:hover
{
	color: #cc181e;
}

#footer-left-lower span[class*="snapchat"]:hover
{
	color: #fffc00;
}

#footer-left-lower span[class*="pinterest"]:hover
{
	color: #cb2027;
}

#footer-left-lower span[class*="google"]:hover
{
	color: #d85040;
}

#footer-right-third
{
	width: 340px;
	height: 200px;
}

#about-me
{
	width: 370px;
	margin-left: 10px;
	margin-top: 5px;
}

#about-me .value
{
	color: rgba(0, 180, 255, 0.75);
}

#about-me a
{
	display: block;
	margin-top: 20px;
	color: rgba(245, 245, 245, 0.5);
	font-size: 16px;
	font-weight: 600;
	transition: font-size 0.1s ease-out, color 0.1s ease-out;
}

#about-me a:hover
{
	display: block;
	color: rgba(0, 180, 255, 0.75);
	font-size: 20px;
}
